# Class 04 - Types, Variables & Assignments 
**COMP130 - Introduction to Computing**  
**Dickinson College**

### Names:

Ada Lovelace, George Boole

### Variables & Assignments

__Q1:__ What is a variable?

A variable is a name that refers to a value.

The value to which the variable refers can be all sorts of things.

While the name of the variable stays the same, the value to which it refers can change!

__Q2:__ What type of statement creates a variable in Python?

An *assignment statement* creates a variable in Python.

By naming the variable on the left side of the assignment statement, you create the variable.

__Q3:__ What type of statement give a value to a variable in Python?

An *assignment statement* gives a value to a variable in Python.

By assigning a value to the right side of the assignment statement, you give that value to the named variable.

__Q4:__ Write assignment statements in the code cell below that creates each of the following variables and gives them a sensible value.
  - `age`
  - `name`
  - `radius`
  - `price`

In [5]:
age = 4543000000 
name = "Planet Earth"
radius = 3958.8
price = 9.99

__Q5:__ Write print statements in the code cell below that displays the value of each of the variables that you created in __Q4__.

In [8]:
print("I am", age, "years old.")
print("My name is", name, ".")
print("My radius is", radius, "miles.")
print("You can have me for $", price, ".")

I am 4543000000 years old.
My name is Planet Earth .
My radius is 3958.8 miles.
You can have me for $ 9.99 .

__Q6__: Draw a *state diagram* showing the variables that you created in __Q4__ along with their values.  Use the technique you learned in Lab01 to put a picture of your diagram in the markdown cell below.  (i.e. Taking a picture of the drawing, e-mail it to yourself, copy the file to the Class04 folder, put markdown for the image into the cell. Recall that the markdown will be something like: `![Text description of MyPicture](MyPicture.jpeg)`

![state diagram for Earth variables](stateDia.jpg)

__Q7__ Python has specific rules about what makes a legal variable name. Describe three different ways that a variable name might be illegal in python.

1. The variable name could be one of Python's 33 *key words* (also known as *reserved words*), like *import*.
2. The variable name might begin with a number, like *1stPlayer*.
3. The variable might contain a character that is neither a number nor a letter, like *$price*.
4. A blank space in a variable name will also be rejected by the interpreter.

In [50]:
my name = "Legend"

SyntaxError: invalid syntax (<ipython-input-50-1070970f791a>, line 1)

__Q8:__ What type of error occurs when you create a variable with an illegal name?  Add a code cell that illustrates this type of error.

A *syntax error* occurs when you try to create a variable with an illegal name.

Your code will not run and the interpreter will inform you that your line contains *invalid syntax*.

In [12]:
bo$ler_hall = "language offices"

SyntaxError: invalid syntax (<ipython-input-12-c821afafa8c0>, line 1)

__Q9:__ Sometimes it is useful to use more than one word in a variable name. For example, people have both first and last names, and both home and work addresses.  In the cell below define four variables for these values using more than one word in the variable name.  Assign each variable a value that makes sense.  Use the common Python programmer convention of separating multiple words in the name with an underscore ( __\___ ) character.

In [11]:
name_first = "Alan"
name_last = "Turing"
addr_work = "Bletchley Park"
addr_home = "British Â£50 note"

### Values and Types

__Q10:__ What are the types of the values shown below? Add a code cell and use the `type` function if you are unsure or want to check your work.
- 1
- 27.5
- "Hello"
- 143.0
- "231.6"
- 'World'
- '19'

  * **1 is an *integer*.**
  * **27.5 is a *float***, short for *floating point number*.
  * **"Hello" is a *string*.** To the interpreter, it is simply a string of 5 characters.
  * **143.0 is a *float*** because it contains a decimal value.
  * **"231.6" is a *string*.** This string of 5 characters just happens to contain 4 numerals.
  * **'World' is a *string*.** It doesn't matter if the string uses double quotes or single quotes.
  * **'19' is a *string* of 2 numerals.** The interpreter cannot perform math operations on any string.

In [35]:
type(1)

int

In [34]:
type(1)
type(27.5)

float

Notice in the example just above that the interpreter will only display the 2nd data type from the 2 statements.

To display all 7 data types, you can use `print`:

In [25]:
print(type(1))
print(type(27.5))
print(type("Hello"))
print(type(143.0))
print(type('231.6'))
print(type('World'))
print(type('19'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>

Note the tricks you would need to use if you wanted to display the values in their exact forms:

In [26]:
print("1 is", type(1), ".")
print("27.5 is", type(27.5), ".")
print('"Hello" is', type("Hello"), ".")
print("143.0 is", type(143.0), ".")
print("'231.6' is", type('231.6'), ".")
print("'World' is", type('World'), ".")
print("'19' is", type('19'), ".")

1 is <class 'int'> .
27.5 is <class 'float'> .
"Hello" is <class 'str'> .
143.0 is <class 'float'> .
'231.6' is <class 'str'> .
'World' is <class 'str'> .
'19' is <class 'str'> .

__Q11:__ In what two ways are values of type `str` (or *string*) designated in Python?

Strings are designated by characters within pairs of single quotes or double quotes:

name_first = "Evelyn"
name_last = 'Berezin'

__Q12:__ What characterizes a value of type `float` (or *floating point*)?

A *float* or *floating point number* always includes a decimal point in its value.

__Q13:__ Do variables have types? What determines the type of a variable? Insert code cells to show how you verified your answer.

In [31]:
name_first = "Evelyn"
name_last = 'Berezin'
type(name_first)

str

In [32]:
age_at_death = 93
type(age_at_death)

int

A variable has the same data type as the value it has been assigned.

### Assignments, Variables and Expressions

Recall that expressions in Python evaluate to a value. You can see this by running the code cell below.  When you run that cell the code cell uses the Python interpreter to evaluate the expression and displays its value.  Because expressions have a value we are able to use any valid expression as the value on the right hand side of an assignment. The variable on the left is then given the value to which the expression evaluates.  For example, the assignment statement `total=1+4+7` assigns the value `12` to the variable `total`.

__Q14__: Write an assignment statement that sets the value of a variable named `area` to the area of a rectangle with sides of length 5 and 12.  Add a `print` statement after your assignment statement to display the value of the `area` variable.

In [33]:
area = 5 * 12
print(area)

60

The four-number 24 game has been a popular math activity in US elementary schools as a fun way to build problem solving skills.  In this game the player is given 4 integer values and must use those values along with the four basic mathematical operations (`+`,`-`,`*` and `/`) to create an expression that evaluates to the value 24.  For example:
- Given the numbers: 8, 6, 4, 3
- Three possible solutions are:
  - `(8-6) * 4 * 3`
  - `((4*3) - 8) * 6`
  - `(8 - (6/3)) * 4`

For each of the the following questions write an assignment statement that uses the four given values to assign the value 24 to a variable and then print the value of that variable.  Because this is Python, you will also need to use the two extra (//, %) Python operators in your expressions.

__Q15:__ 8, 6, 4, 3

In [38]:
ans24a = (8 - 6) * 4 * 3
print(ans24a)

24

__Q16:__ 13, 4, 7, 3  (Hint: you'll neee to use `\\`)

In [41]:
ans24b = 7 * 4 - (13 // 3)
print(ans24b)

24

__Q17:__ 10, 5, 6, 5 (Hint: you'll need to use `%`)

In [46]:
ans24c = 5 * 5 - (10 // 6)
print(ans24c)

24

Notice that what expressions so is manipulate values to produce another value. Variables have values.  So, it is possible to use the values of variables in expressions. For example, consider the Python statements in the following code cell.  They compute and print the area of a triangle with with side lengths given by `side_a` and `side_b`. Try running the code cell.  Then change the values of `side_a` and `side_b` and run it again.

In [45]:
side_a=5
side_b=9
triangle_area=(a*b)/2
print(triangle_area)

27.5

__Q18:__ Write python statements similar to those above that computes and prints the perimiter of a hexagon with side length 7.  Be sure to use descriptive variable names.

In [47]:
hex_side = 7
hex_perim = hex_side * 6
print(hex_perim)

42

__Q19:__ Write python statements that compute and display the number of minutes in 5 years, 13 days and 6 hours.  Use as many descriptive variables as you want to make your program easy to understand.  You may ignore leap years.

In [52]:
# Minimum number of variables
example_hours = 6
example_days = 13
example_years = 5

example_minutes = example_hours * 60 + example_days * 24 * 60 + example_years * 365 * 24 * 60

print(example_minutes)

2647080

In [64]:
# A difficult to read program using 6 variables
example_hours = 6
example_days = 13
example_years = 5
year_to_days = 365
day_to_hours = 24
hour_to_minutes = 60

example_minutes = example_hours * hour_to_minutes + example_days * day_to_hours * hour_to_minutes + example_years * year_to_days * day_to_hours * hour_to_minutes

print(example_minutes)

2647080

In [57]:
# A better use of 6 variables
example_hours = 6
example_days = 13
example_years = 5
year_to_minutes = 365 * 24 * 60
day_to_minutes = 24 * 60
hour_to_minutes = 60

example_minutes = example_hours * hour_to_minutes + example_days * day_to_minutes + example_years * year_to_minutes

print(example_minutes)

2647080

__Q20:__ Consider the Python statements in the code cell below.  They compute the same result as you were asked to compute in __Q19__.  Does it matter to the Python Interpreter what names you use for your variables? Which of the programs, yours in __Q19__ or the one below would be easier for another programmer (possibly even you a few weeks or months from now) to understand?

In [55]:
x=5
y=13
z=6
n=5*365*24*60 + 13*24*60 + 6*60
print(n)

2647080

The program above is simple to read but it is impossible to be sure of its particular meaning or purpose because the variables do not identify themselves in any way.

Any of the 3 solutions given for Q19 above would be superior to the Q20 statements because the variable names make it easy to understand the goal of the program. (The goal of example 2 from Q19 might take longer to figure out because the calculation is more sprawling than it needs to be.)

__Q21:__ Give at least two reasons why it is beneficial to use descriptive variables in your programs.

1. Variables that effectively describe their values make the purpose and goals of a program easy to understand.
2. When using multiple variables in a program, descriptive variables prevent confusion about the values used in statements.
3. Descriptive variables can help you to use the correct variable in any statement.

### Optional Exercises

__E1:__ Write Python statements that compute and print the temperature in degrees Celsius that corresponds to 28.4 degrees Fahrenheit. Be sure to use variable names that make your program easier to understand.

In [61]:
deg_far = 28.4
deg_cel_from_far = (deg_far - 32) / 1.8
print(deg_cel_from_far)

-2.000000000000001

__E2:__ Write Python statements that compute and print the temperature in degrees Kelvin that corresponds to 28.4 degrees Fahrenheit. Be sure to use variable names that make your program easier to understand.

In [63]:
deg_far = 28.4
deg_cel_from_far = (deg_far - 32) / 1.8
deg_kel_from_far = deg_cel_from_far + 273.15
print(deg_kel_from_far)

271.15

__E3:__ Repeat __Q19__ assuming a leap year occurs exactly every 4 years (which [isn't exactly right](https://www.timeanddate.com/date/leapyear.html).)

In [65]:
# A better use of 6 variables
example_hours = 6
example_days = 13
example_years = 5
year_to_minutes = 365.25 * 24 * 60
day_to_minutes = 24 * 60
hour_to_minutes = 60

example_minutes = example_hours * hour_to_minutes + example_days * day_to_minutes + example_years * year_to_minutes

print(example_minutes)

2648880.0